<p id="notice"><%= notice %></p>

<div class="container">

<h1 class="center">Listing Posts</h1>

<br></br>

  
    
    <% @posts.each do |post| %>
    <div class="center">
    <div class="row">
    <div class="col-md-12">
      
        <div class="panel panel-default">
          <div class="panel-body">
           
           <h4><strong><%= link_to post.title , post %></strong></h4>
        
            <p><%= pluralize(post.likes.count, "vote") %></p>
            <p><%= button_to 'Like', likes_post_path(post), method: :post %></p>
            <p><%= link_to 'Show', post %> |
            <%= link_to 'Edit', edit_post_path(post) %> |
            <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
           
          </div>
        </div>
        
      
    </div>  
    </div>
    </div>
    <% end %>
  



</div>