
<h2><%= @post.title %></h2>

<div class="row">
	<div class="col-md-6">	
		
		<%= image_tag @post.url,  :size => '260x180' %>
		<p><%= link_to @post.name, @post.url %></p>
	</div>
		
</div>
<div class="row">
	<div class="col-md-12">
		<ul>
		<% @post.similar_items.each do |post| %>
			<li><%= post.title %></li>
		<% end %>
		</ul>
	</div>
</div>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
